@model Waterful.Core.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OpenId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OpenId" class="form-control" />
                <span asp-validation-for="OpenId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NickName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Mobile" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FullName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ico" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ico" class="form-control" />
                <span asp-validation-for="Ico" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IntroducId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IntroducId" class="form-control" />
                <span asp-validation-for="IntroducId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RegisterType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RegisterType" class="form-control" />
                <span asp-validation-for="RegisterType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerType" class="form-control" />
                <span asp-validation-for="CustomerType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Remark" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreateTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateTime" class="form-control" />
                <span asp-validation-for="UpdateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

