
@{
    ViewData["Title"] = "微信关注我们";
}


<div class="share-content">
    <div class="images">
        <img class="bg-img" src="~/images/share/share1.jpg" alt="">
        <img class="code-img" src="~/images/wds-qrcode.jpg" alt="QrImg">
    </div>
    <div class="images">
        <img class="bg-img" src="~/images/share/share2.jpg" alt="">
    </div>
    <div class="images">
        <img class="bg-img" src="~/images/share/share3.jpg" alt="">
    </div>
    <div class="images">
        <img class="bg-img" src="~/images/share/share4.jpg" alt="">
    </div>
    <div class="images">
        <img class="bg-img" src="~/images/share/share5.jpg" alt="">
    </div>
    <div class="images">
        <img class="bg-img" src="~/images/share/share6.jpg" alt="">
    </div>
</div>