@{
    ViewData["Title"] = "联系我们";
}

<div class="company-content content-wrapper">
    <div class="image"><img src="~/images/other/company.jpg"></div>
    <div class="tel-title">万得水官方客服电话</div>
    <div class="tel"><a href="tel:021-63810080">直接拨打</a> <a href="tel:021-63810080"><span>021-63810080</span></a></div>
    <div class="title"><h3>公司愿景</h3></div>
    <div class="describe">
        <span class="zw">
            <p>
                我们要让家家户户从水开始，都轻松拥有健康无毒的优质生活环境。
            </p>
<p>
    我们物质生活水平日渐提高的同时，居家生活品质却大幅下降，研究指出生活中充斥超过五万种化学毒物，潜藏在空气、水源、食物和器具中，正严重侵蚀我们跟下一代的健康，危害我们的身体，美国环保署经过五年研究指出：室内毒性污染程度较室外严重100到200倍，有句话说得好：财富、事业、人际、旅游、感情生活等都是0，健康是最前面的1，有了1，后面的0才有意义，我们  从水开始打造健康、无毒的优质居家生活环境为宗旨，解决家庭内毒物污染问题为主轴，研发万得水WATERFUL 全户净水系统等一系列产品，让我们可以健健康康，开开心心，一起享受健康、无毒的优质居家生活环境。
</p>   
        </span>
    </div>
    <div class="title"><h3>公司简介</h3></div>
    <div class="describe">
      
        <span class="zw">
            万得水（上海可果环保科技有限公司） 成立于2016.7年 , 主要业务是净水服务 , 服务对象是万千家庭用户 , 目前已经完成两轮融资。 台湾在全球服务业及净水产品排名前三地区 , 我们引进台湾成功服务业模式 及 优质净水产品 , 提供祖国同胞优质净水服务体验,
            让用户可以轻松享受健康无毒的优质环境。
        </span>
        <br />
        <br />
    </div>

</div>
