@{
    ViewData["Title"] = "各区滤芯图";
}
<div class="filter-img-content content-wrapper">
    <div class="title-images">
        <div class="title"><p>黄浦区水质</p></div>
        <div class="images"><img src="~/images/fillters/1huq.png" /></div>
    </div>
    <div class="title-images">
        <div class="title"><p>徐汇区水质</p></div>
        <div class="images">
            <img src="~/images/fillters/2xhq.png" />
        </div>
    </div>
    <div class="title-images">
        <div class="title"><p>闵行区水质</p></div>
        <div class="images">
            <img src="~/images/fillters/3mxq.png" />
        </div>
    </div>
    <div class="title-images">
        <div class="title"><p>长宁区水质</p></div>
        <div class="images">
            <img src="~/images/fillters/4cnq.png" />
        </div>
    </div>
    <div class="title-images">
        <div class="title"><p>静安区水质</p></div>
        <div class="images">
            <img src="~/images/fillters/5jaq.png" />
        </div>
    </div>
    <div class="title-images">
        <div class="title"><p>浦东新区水质</p></div>
        <div class="images">
            <img src="~/images/fillters/6pdxq.png" />
        </div>
    </div>
    <div class="title-images">
        <div class="title"><p>金山区水质</p></div>
        <div class="images">
            <img src="~/images/fillters/7jsq.png" />
        </div>
    </div>
    <div class="title-images">
        <div class="title"><p>普陀区水质</p></div>
        <div class="images">
            <img src="~/images/fillters/8ptq.png" />
        </div>
    </div>
    <div class="title-images">
        <div class="title"><p>嘉定区水质</p></div>
        <div class="images">
            <img src="~/images/fillters/9jdq.png" />
        </div>
    </div>
    <div class="title-images">
        <div class="title"><p>松江区水质</p></div>
        <div class="images">
            <img src="~/images/fillters/10sjq.png" />
        </div>
    </div>
</div>
