
@{
    ViewData["Title"] = "万得水全户活水租赁合同";
}

<style type="text/css">
    .zw p {
        text-indent: 2em;
    }
</style>
<div class="company-content content-wrapper">
    <div class="title text-center"><h3>万得水全户活水租赁合同</h3></div>
    <div class="describe">
        <br />
        <span class="zw">
            <p>
                第一条：租赁合同的成立
            </p>
            <p>
                甲方首先要按照乙方租赁条件填写确认书，甲方必须提供真实准确的用户资料，经乙方核实甲方的信用情况后才能同意租赁。租赁合同自双方同意安装产品之日起正式生效。
            </p>
            <p>第二条：租赁期限及约定期限</p>
            <p>1.	租赁约定期限根据首次安装产品起计算。</p>
            <p>
                2.	乙方免费提供 市价 10000元， 万得水全户净活水家用版设备，供甲方免费体验一个月，一个月内甲方如有任何问题，要求拆机，乙方无条件拆机，并且不收取甲方任何费用。 如 一个月内甲方未要求拆机，视为甲方同意成为 乙方 万得水会员，会员合同签订至少一年，租赁费采用银行自动扣款，甲方首次扣款 1360元（280元安装费＋1080半年租赁费），之后每半年扣款 1080元，签约期间内甲方拥有设备使用权，设备所有权归乙方所有，租赁期间内设备维护、保养、滤芯更换等租赁，均含在甲方每月设备租金内，乙方不另收取费用。
            </p>
            <p>第三条：收款条件、设备的交付及安装（包括转移安装）</p>
            <p>1.	乙方将甲方租赁的设备安装到甲方要求的场地。如因场地特殊，发生乙方规定的基本运费及安装费以外的费用时，由甲方自行承担。 </p>
            <p>2.	乙方保证所有主设备包含滤心，均为台湾生产，台湾原装进口。 </p>
            <p>3.	如因甲方所需，设备需转移安装，移机安装费用 280元由甲方负责，如因水管尺寸或环境条件不适合，需变更设备，由此产生的费用由甲方负责。</p>
            <p>第四条：每月服务内容</p>
            <p>1.	乙方三个月向 甲方提供一次免费的定期检查维护，检测内容为自有余氯。</p>
            <p>2.	如自有余氯量去除率低于50％，乙方则免费将甲方更换设备滤芯，以期维护甲方优良水质。</p>
            <p>第五条：租金的缴纳，收据及发票</p>
            <p>1. 押金以收据形式，设备租金以发票开给甲方。</p>
            <p>
                2. 设备租金支付为银行代扣方式，如甲方银行卡馀额不足，乙方会通知甲方并进行二次扣款，如二次扣款甲方馀额仍不足，甲方同意乙方有权自行拆回设备，乙方拆除设备前，甲方租赁费仍按月计费。
            </p>
            <p>第六条：产品的使用、保管及维护</p>
            <p>1.	甲方须妥善使用设备，并做好妥善管理。</p>
            <p>2.	甲方需要变更收货人、 收货地址及联系电话， 或者将产品转移到其他场地时， 应提前获得乙方同意  。因甲方的疏忽或人为因素而发生的损失，由甲方自行承担。</p>
            <p>
                3.	甲方不得去除、弄脏产品上的乙方所有权标识、固定标志等。
            </p>
            <p>
                4. 甲方应有就第三人主张权利时及时通知乙方提出案外人异议的义务。
            </p>
            <p>
                5. 净活水机只限于在甲方使用，由甲方负责水机安全，提供电源和水源。甲方不可私自移机， 且不得将净活水机转租、转售，甲方在约定缴纳期内交付租金时，乙方向甲方提供免费的定期检查服务。
            </p>
            <p>
                6. 在合同期内转借他人，或做其他不当用途，若违反约定所造成的意外损害，由甲方承担全部责任。
            </p>
            <p>
                7. 乙方向甲方租赁的净活水机提供相关的技术及服务，包括对净活水机及耗材进行免费维护和保养（甲方原因造成的损害除外） ，并提供设备维护，以保证水质。
            </p>
            <p>
                8. 如设备出现人为损坏，甲方应在 12 小时内通知乙方，由乙方负责维修，甲方承担因此产生的相关费用。甲方需对未及时通知而造成设备持续损害承担相应责任。如设备遗失，或天灾，人为损害，甲方须以设备原价80%赔偿乙方。
            </p>
            <p>
                第七条：解除合同
            </p>
            <p>
                1.	试用期完，合约自动签订一年，如一年后甲方未通知乙方解除合约，合约自动生效。
            </p>
            <p>
                2.	退机时，甲方需看到持 加盖乙方公章的租凭拆机确认书的工作人员上门，方可同意将机器拆走，并在原件上签名确认。
            </p>
            <p>
                第八条：设备权利归属及争端解决
            </p>
            <p>
                1.	租赁期内设备使用权归属甲方。
            </p>
            <p>
                2.	设备产权归属乙方。
            </p>
            <p>
                3.	本协议一式两份，甲乙方各一份，具同等法律效力。协议履行过程中，如有争议，双方应优先协商解决协商不成，任何一方可向有管辖权的人民法院起诉。
            </p>
        </span>
    </div>
</div>
