
@{
    ViewData["Title"] = "净水器购销合同";
}

<style type="text/css">
    .zw p {
        text-indent: 2em;
    }
</style>

<div class="company-content content-wrapper">
    <div class="title text-center"><h3>净水器购销合同</h3></div>
    <div class="describe">
        <br />
        <span class="zw">
            <p>
                经甲，乙双方友好协商，就甲方向乙方购买的净水机及安装及服务的有关事宜，达成本合同以下条款。
            </p>
            <p>
                一、	产品购买后，乙方会将产品寄往甲方所留地址，如该产品乙方缺货，乙方会在货到时发给甲方。
            </p>
            <p>
                二、	乙方派专业术人员以微信指导甲方安装并调试完毕。
            </p>
            <p>
                三、	售后服务：
            </p>
            <p>1.	乙方对产品免费提供1年保修，产品如有损坏寄回乙方处，乙方免费保修，甲方负担运费。判定人为损害者不予保修。</p>
            <p>2.	甲方应遵照乙方指示更换滤心及保养设备，如未遵照乙方指示，设备损坏乙方不予保修。</p>
            <p>3.	设备均由甲方自行或指定安装，乙方付指导责任但不对安装结果负责。</p>
            <p>四、	合同生效条件及份数：</p>
            <p>1.	合同经甲方于甲方勾选我同意并付费后生效。</p>
            <p>
                2.	合同起始日期以付费日为准。
            </p>
        </span>
    </div>
</div>
